.CollectionCard, .ActorCard {
    padding: 10px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    -webkit-tap-highlight-color: inherit;
    text-align: left;
}

.CollectionCard:focus, .ActorCard:focus {
    outline: none !important;
}

.CollectionCard::after {
    border-radius: 3px;
    content: "";
    position: absolute;
    display: block;
    margin-top: 10px;
    height: 21vmin;
    width: calc(100% - 20px);
    background-color: var(--reactgreen);
    opacity: 0;
    top: 0;
    -webkit-transition: opacity 200ms 50ms ease-out;
    -o-transition: opacity 200ms 50ms ease-out;
    transition: opacity 200ms 50ms ease-out;
}

.CollectionCard:hover::after, .ActorCard:hover::after {
    opacity: 0.5;
}

.CollectionCard > div, .ActorCard > div {
    display: block;
}

.CollectionCard .collection-img {
    max-height: 21vmin;
    border: 1px solid var(--entdark);
    border-radius: 3px;
    transition: border-color 300ms ease-in;
}

.CollectionCard .collection-text, .ActorCard .actor-text {
    padding: 10px 0;
}

.CollectionCard img {
  height: 21vmin;
  width: auto;
  border-radius: 3px;
  min-width: 150px;
}

.CollectionCard h5, .ActorCard h5 {
  letter-spacing: 1px;
}

@media (hover:none) {
    .CollectionCard:hover::after, .ActorCard:hover::after {
        opacity: 0;
    }
}
