.CollectionCard {
    padding: 10px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    -webkit-tap-highlight-color: inherit;
    text-align: left;
}

.CollectionCard:focus {
    outline: none !important;
}

.CollectionCard::after {
    border-radius: 3px;
    content: "";
    position: absolute;
    display: block;
    margin-top: 10px;
    height: 20vmin;
    width: calc(100% - 20px);
    background-color: var(--reactgreen);
    opacity: 0;
    top: 0;
    -webkit-transition: opacity 200ms 50ms ease-out;
    -o-transition: opacity 200ms 50ms ease-out;
    transition: opacity 200ms 50ms ease-out;
}

.CollectionCard:hover::after {
    opacity: 0.5;
}

.CollectionCard > div {
    display: block;
}

.CollectionCard .collection-text {
    padding: 10px 0;
}

.CollectionCard img {
  height: 20vmin;
  width: auto;
  border-radius: 3px;
}

.CollectionCard h5 {
  letter-spacing: 1px;
}

@media (hover:none) {
    .CollectionCard:hover::after {
        opacity: 0;
    }
}
