.MovieCardSmall {
  margin: 12px;
  cursor: default;
  position: relative;
}
.MovieCardSmall > div.img-section {
  height: 17vmax;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.MovieCardSmall > div.img-section > img.with-poster {
  height: 17vmax;
  width: auto;
  object-fit: contain;
  border-radius: 2px;
}
.MovieCardSmall > div.img-section > img.no-poster {
  height: auto;
  width: 10vmax;
  object-fit: contain;
}

.MovieCardSmall::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 17vmax;
  display: block;
  background-color: var(--reactgreen);
  opacity: 0;
  top: 0;
  -webkit-transition: opacity 200ms 50ms ease-out;
  -o-transition: opacity 200ms 50ms ease-out;
  transition: opacity 200ms 50ms ease-out;
  border-radius: 2px;
}
.MovieCardSmall:hover::after {
  opacity: 0.5;
}

.MovieCardSmall > div.caption-section {
  padding: 3px;
}

.MovieCardSmall > div.caption-section > h5 {
  letter-spacing: normal;
  text-align: left;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media (hover: none) {
  .MovieCardSmall:hover::after {
    opacity: 0;
  }
}
