.movie-card {
  text-align: left;
  padding: 2.5vmin;
  overflow: hidden;
  border-radius: 5px;
  cursor: default;
}

.movie-card .movie-header {
  display: flex;
  flex-wrap: nowrap;
}

.movie-card .movie-header > .movie-poster {
  width: 40%;
  max-width: 30vmin;
  align-items: center;
}

.movie-card .movie-header > .movie-title {
  width: 60%;
  padding: 3px 0px 5px 15px;
}

.movie-card .movie-header > .movie-title > div.release-date {
  font-size: 12px;
  font-weight: 200;
  margin: 5px 0px 2px 0px;
}

.movie-card .movie-poster > img {
  height: auto;
  width: 100%;
  aspect-ratio: 2 / 3;
  object-fit: contain;
  object-position: 50% 0;
}

.movie-card .movie-desc,
.ent-small-text {
  font-size: 0.9rem;
}
.movie-card .movie-desc p {
  margin: 8px 3px 3px 3px;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}
.movie-card .movie-desc span {
  line-height: 25px;
}

@media only screen and (min-width: 380px) {
  .movie-card .movie-desc,
  .ent-small-text {
    font-size: 0.8rem;
  }

  .movie-card .movie-header > .movie-poster {
    width: 30%;
  }
  .movie-card .movie-header > .movie-title {
    width: 70%;
  }
}

@media only screen and (min-width: 600px) {
  .movie-card .movie-header > .movie-poster {
    width: 40%;
  }
  .movie-card .movie-header > .movie-title {
    width: 60%;
  }
}

@media only screen and (min-width: 920px) {
  .movie-card .movie-desc,
  .ent-small-text {
    font-size: 0.9rem;
  }
}
