.NoData {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 25vh;
}

.NoData img {
  width: 28vmin;
  height: auto;
  margin: 0 auto;
  margin-top: 15vh;
}

.NoData div:last-child {
  margin-top: 15px;
  font-size: 2vmax;
  font-weight: 600px;
  letter-spacing: 2px;
  word-spacing: 5px;
  cursor: default;
}

.NoData div.status-code {
    margin-top: 0px;
    font-size: 6vmax;
    letter-spacing: 1vmax;
    font-weight: 800;
    cursor: default;
}
