.NoData {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.NoData img {
  width: 30vmin;
  height: auto;
}

.NoData div {
  margin-top: 20px;
  font-size: 22px;
  font-weight: 600px;
  letter-spacing: 2px;
  word-spacing: 5px;
  cursor: default;
}

.NoData div.status-code {
    font-size: 28px;
    font-weight: 800;
}
