.ReviewsBlock .review-wrapper {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.ReviewsBlock .review {
  width: 500px;
  margin: 10px 5px;
  padding: 10px 22px;
  border-radius: 10px;
}

.ReviewsBlock .review > p {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.ReviewsBlock .review .review-header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding-bottom: 3px;
  border-bottom: 1px dotted var(--entdarkgray);
}

.ReviewsBlock .review .review-header .review-header-author {
  flex-grow: 1;
  padding: 0 10px;
}