.ReviewsBlock .review-wrapper {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.ReviewsBlock .review {
  width: 500px;
  margin: 10px 5px;
}

.ReviewsBlock .review > p {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}