.DiscoverSection {
    min-height: 100vh;
}

.DiscoverSection > div.list {
    max-width: 70vmax;
    margin: auto;
    display: block;
    border-radius: 10px;
    overflow-x: hidden;
}

.DiscoverSection > div.list > div.list-header {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: 10vmin;
    max-height: 10vmin;
}

.DiscoverSection > div.list > div.list-header > img {
    margin: 2vmin;
    height: 6vmin;
    width: auto;
}

.DiscoverSection > div.list > div.list-header > h2 {
    text-align: left;
    margin: 2vmin;
    color: var(--reactgreen);
}

.DiscoverSection > div.list > div.list-body {
    display: flex;
    padding: 3vmin;
}

.DiscoverSection > div.discover-list > div.list-header > img {
    transform: rotate(100deg);
}