.ListPage {
  min-height: 100vh;
}

.ListPage > .title-bar {
  padding: 5vmin 5vmin 1vmin 5vmin;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ListPage > .title-bar > h2 {
  text-align: left;
  margin-left: 20px;
  flex-grow: 1;
  overflow: ellipsis;
  color: var(--reactgreen);
}

.ListPage > .title-bar > button.close-page {
  margin-right: 20px;
  padding: 0 !important;
  width: 1.6rem;
  height: 1.6rem;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
  background-color: var(--reactred);
}

.ListPage > .title-bar > button.close-page:active {
  background-color: var(--entdarkgray);
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.ListPage > .title-bar > button.close-page > img {
  width: 0.8rem;
  height: 0.8rem;
  display: block;
}

@media only screen and (min-width: 380px) {
  .ListPage > .title-bar > h4 {
    margin-left: 2px;
  }
  .ListPage > .title-bar > button.close-page {
    margin-right: 2px;
  }
}

@media only screen and (min-width: 600px) {
  .ListPage > .title-bar > h4 {
    margin-left: 15px;
  }
  .ListPage > .title-bar > button.close-page {
    margin-right: 15px;
  }
}
