.MovieDetail {
  min-height: 58vh;
  text-align: left;
}

.MovieDetail .fg {
  -webkit-animation: fadein 900ms ease-out;
  animation: fadein 900ms ease-out;
}

.MovieDetail .no-movie {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.MovieDetail .no-movie img {
  width: 30vmin;
  height: auto;
}

.MovieDetail .no-movie div {
  margin-top: 20px;
  font-size: 22px;
  font-weight: 600px;
  letter-spacing: 2px;
  word-spacing: 5px;
  cursor: default;
}

.MovieDetail .download {
  padding: 0px 4vw 1vw 4vw;
}

.MovieDetail .download > div {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  margin-right: 10px;
}

.detail-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.detail-wrapper .detail-poster img {
  margin: 30px 4vw 20px 4vw;
  max-width: 30vmin;
  height: auto;
}

.detail-wrapper .detail-title {
  flex-grow: 1;
  padding-top: 30px;
  padding-right: 4vw;
}

.detail-wrapper .detail-title > div > * {
  margin-bottom: 8px;
}

#upper > h3 {
  margin-top: 30px;
}

.center-loading {
    display: flex;
    justify-content: center;
}

.collection, .Trailers, .similar, .recommended {
  padding: 2vw 4vw;
}

.credits {
  margin-top: 4vh;
  padding: 2vw 4vw 0 4vw;
}

.similar > div, .recommended > div{
  overflow-x: auto;
}

.collection img {
  height: 20vmin;
  width: auto;
  margin: 10px 0px 4px 10px;
}

.collection h5, .Trailers h4 {
  margin-left: 10px;
  margin-top: 5px;
  letter-spacing: 1px;
}

hr{
  max-width: 110vmin;
  color: var(--entdark) !important;
  border-color: var(--entdark);
}

#lower {
  margin-top: 2vh;
}