.Navbar{
    display: flex;
    flex-wrap: wrap;
    padding: 5px 90px;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, #001e2815, #00000000);

    cursor: pointer;
    font-weight: 400px;
    font-size: 1.2rem;
    text-shadow: rgba(0, 30, 40, 0.15) 1px 4px 10px;
}

.Navbar > div{
    display: flex;
}

.Navbar .nav-menu{
    margin: 15px;
    transition: all 100ms ease-in;
}

.Navbar .nav-menu > h3 {
    margin-top: 5px;
}

.Navbar .nav-menu::after{
    background-color: rgb(216, 186, 19);
    content: "";
    display: block;
    bottom: 0;
    width: 0;
    margin-left: 5px;
    height: 3px;
    transition: all 100ms ease-in;
}

.Navbar .nav-menu:hover{
    color: rgb(245, 212, 16);
    text-shadow: none;
    transition: all 200ms 50ms ease-out;
}

.Navbar .nav-menu:hover::after{
    width: 100%;
    margin-left:0px;
    transition: all 200ms 50ms ease-out;
}

.Navbar > #logo {
    font-family: 'Lobster', cursive;
    font-size: 2.5rem;
    font-weight: 400;
    margin-left: 15px;
}