.Navbar{
    display: flex;
    flex-wrap: wrap;
    padding: 5px 90px;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, #001e2815, #00000000);

    font-weight: 400px;
    font-size: 1.2rem;
    text-shadow: rgba(0, 30, 40, 0.15) 1px 4px 10px;
}

.Navbar > div{
    display: flex;
}

.Navbar .nav-menu{
    position: relative;
    margin: 15px;
    color: var(--reactgreen);
    cursor: pointer;
    transition: all 100ms ease-in;
}

.Navbar .nav-menu > h3 {
    margin-top: 8px;
    margin-bottom: 5px;
    text-align: center;
    transition: all 200ms ease-out;
}
.Navbar .nav-menu > h3:active {
    color: var(--reactblue);
    transform: scale(0.95);
    transition: all 200ms ease-in;
}

.Navbar .nav-menu::after{
    background-color: var(--reactblue);
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    margin-left: 5px;
    height: 2px;
    transition: all 100ms ease-in;
}

.Navbar .nav-menu:hover{
    color: var(--reactblue);
    text-shadow: none;
    transition: all 200ms 50ms ease-out;
}

.Navbar .nav-menu:hover::after{
    width: 100%;
    left: 0;
    margin-left:0px;
    transition: all 200ms 50ms ease-out;
}

.Navbar > #logo {
    font-family: 'Lobster', cursive;
    font-size: 2.5rem;
    font-weight: 400;
    margin-left: 15px;
    cursor: pointer;
}

@media only screen and (min-width:320px) {
    .Navbar {
        padding-left: 10px;
        padding-right: 10px;

        font-size: 1rem;
    }
    .Navbar .nav-menu{
        margin-left: 8px;
        margin-right: 8px;
    }
}

@media only screen and (min-width:480px) {
    .Navbar{
        padding-left: 15px;
        padding-right: 15px;

        font-size: 1.1rem;
    }
    .Navbar .nav-menu{
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media only screen and (min-width:600px) {

    .Navbar{
        padding-left: 25px;
        padding-right: 25px;

        font-size: 1.1rem;
    }

}


@media only screen and (min-width:720px) {

    .Navbar{
        padding-left: 40px;
        padding-right: 40px;

        font-size: 1.1rem;
    }

}


@media only screen and (min-width:980px) {

    .Navbar{
        padding-left: 90px;
        padding-right: 90px;

        font-size: 1.2rem;
    }

}

@media (hover:none) {
    .Navbar .nav-menu:hover{
        color: var(--reactgreen);
        text-shadow: rgba(0, 30, 40, 0.15) 1px 4px 10px;
        transition: none;
    }
    
    .Navbar .nav-menu:hover::after{
        width: 0;
        left: 50%;
        margin-left:5px;
        transition: none;
    }
}