.Rating {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.Rating > div{
    padding: 3px;
}

.Rating > div.star{
    width: 11px;
}

.Rating > div.vote-count {
    font-size: 14px;
    flex-grow: 1;
}

.Rating img{
    max-width: 100%;
    max-height: auto;
}
