.res-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  padding: 5vmin;
}

.movie-card {
  flex: 1 1 250px;
  margin: 15px 20px;
  text-align: left;
  padding: 2.5vmin;
  max-height: 22vmax;
  overflow: hidden;
  border-radius: 5px;
}

.movie-card .movie-header {
  display: flex;
  flex-wrap: nowrap;
}

.movie-card .movie-header > .movie-poster {
  width: 40%;
}

.movie-card .movie-header > .movie-title {
  width: 60%;
  padding: 3px 0px 5px 15px;
}

.movie-card img {
  height: auto;
  width: 100%;
}

.movie-card .movie-desc {
  font-size: 0.8rem;
}
.movie-card .movie-desc p {
  margin-top: 8px;
}
.movie-card .movie-desc span{
  line-height: 25px;
}

@media only screen and (min-width: 380px) {
  .movie-card {
    margin-left: 2px;
    margin-right: 2px;
  }

  .movie-card .movie-desc {
    font-size: 0.8rem;
  }

  .movie-card .movie-header > .movie-poster {
    width: 30%;
  }
  .movie-card .movie-header > .movie-title {
    width: 70%;
  }
}

@media only screen and (min-width: 600px) {
  .movie-card {
    margin-left: 15px;
    margin-right: 15px;
  }
  .movie-card .movie-desc {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 720px) {
  .movie-card .movie-desc {
    font-size: 0.9rem;
  }
}