.Search{
    width: 60%;
    padding: 30px 25px;
    margin: auto;
    border-bottom: 3px solid var(--reactgreen);
}

.Search input{
    width: calc(100% - 25px);
    height: 2rem;
    color: var(--reactgreen);
}

.Search #query{
    outline: none;
}

.Search #query::-webkit-input-placeholder {
    color: rgba(1, 141, 115, 0.5);
}

.Search #query::-ms-input-placeholder {
    color: rgba(1, 141, 115, 0.5);
}

@media only screen and (min-width:320px){
    .Search{
        width: 90%;
        padding: 20px 10px;
    }
}

@media only screen and (min-width:480px){
    .Search{
        width: 80%;
        padding: 20px 15px;
    }
}

@media only screen and (min-width:600px){
    .Search{
        width: 70%;
        padding: 25px;
    }
}

@media only screen and (min-width:720px){
    .Search{
        width: 60%;
        padding: 30px 25px;
    }
}