.Trailers {
    margin-top: 5vh;
}

.video-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.video-wrapper > .video-col {
    width: 400px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}

.video-container {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 30px 10px;
}

.fullwidth{
    max-width: 100vmax;
}