.FooterSection {
    max-width: calc(100% - 10vmax);
    text-align: left;
    min-height: 42vh;
    padding: 5vmax;
    z-index: 5;
}

.FooterSection .logo {
    color: var(--reactgreen);
}

.FooterSection .text-center {
    text-align: center;
}

.FooterSection .footer-wrapper{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.FooterSection .footer-wrapper > div {
    flex: 1 1 250px;
    padding-top: 40px;
    padding-left: 10px;
}

.FooterSection .footer-wrapper > div > h4 {
    font-weight: 800;
    text-transform: uppercase;
    color: var(--entgray);
    margin: 10px 0;
    display: block;
}

.FooterSection .copy-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 5vh 0vw 0 0vw;
}

.FooterSection .copy-wrapper div {
    margin: 0px 1.5vw;
    font-size: 0.9rem;
    font-weight: 200px;
    color: var(--entgray);
    cursor: default;
}
.FooterSection .copy-wrapper > div.flex-too {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-grow: 1;
}
.FooterSection .copy-wrapper > div.flex-too > div {
    cursor: pointer;
}
.FooterSection .copy-wrapper > div.copyright {
    text-align: right;
    margin-right: 0px;
    white-space: nowrap;
}

.footer-link {
    display: inline-block;
    white-space: nowrap;
    margin: 7px 3px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: default;
    color: var(--entlightgray);
    transition: all 200ms ease-out;
}

.footer-link:hover {
    color: var(--reactgreen);
}

.footer-link:active {
    color: var(--reactgreen);
    transform: scale(0.9);
}

@media (hover:none){
    .footer-link:hover {
        color: var(--entlightgray);
    }
}