.ActorPage {
  padding: 0 4vw;
  min-height: 100vh;
  max-width: 92vw;
  text-align: left;
}

.ActorPage .wrapper, .ActorPage .section-detail {
    max-width: 92vw;
}

.ActorPage .section-detail {
    max-width: 88vw;
    margin: 0 2vw 30px 2vw;
    padding: 15px 0;
}

.ActorPage .section-detail > div {
    margin-top: 15px;
}

.ActorPage .wrapper {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.ActorPage .wrapper > * {
  padding: 2vw;
}

.ActorPage .profile {
  margin: auto;
}

.ActorPage .profile img {
  width: 15vmax;
  min-width: 150px;
  height: 15vmax;
  min-height: 150px;
  border: 3px solid var(--reactgreen);
  border-radius: 50%;
  object-fit: cover;
}

.ActorPage .detail {
  flex-grow: 1;
  max-width: 88vw;
}

.ActorPage h1.fg {
  color: var(--reactgreen);
}

.ActorPage .fg:not(hr.fg) {
  -webkit-animation: fadein 900ms ease-out;
  animation: fadein 900ms ease-out;
}
