.CollectionPage {
  min-height: 100vh;
  text-align: left;
}

.CollectionPage h1.fg {
  color: var(--reactgreen);
}

.CollectionPage .fg {
  -webkit-animation: fadein 900ms ease-out;
  animation: fadein 900ms ease-out;
}

.CollectionPage .detail-sections {
  padding: 1vmin 4vw;
}

.CollectionPage .detail-sections > * {
  margin: 3px 0 4vmax 0;
}

.CollectionPage .section-label {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  margin-right: 10px;
}

.CollectionPage .detail-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.CollectionPage .detail-wrapper .detail-poster {
  width: 400px;
}
.CollectionPage .detail-wrapper .detail-poster img {
  margin: 30px 0 0 4vw;
  width: calc(100% - 4vw);
  height: auto;
  border-radius: 3px;
}

.CollectionPage .detail-wrapper .detail-title {
  flex-grow: 1;
  width: 400px;
  padding-top: 30px;
  padding-right: 4vw;
  padding-left: 4vw;
}

.CollectionPage .detail-wrapper .detail-title > div > * {
  margin-bottom: 8px;
}