.MovieDetailPage {
  min-height: 100vh;
  text-align: left;
}

.MovieDetailPage h1.fg {
  color: var(--reactgreen);
}

.MovieDetailPage .fg {
  -webkit-animation: fadein 900ms ease-out;
  animation: fadein 900ms ease-out;
}

.MovieDetailPage .detail-sections {
  padding: 1vmin 4vw;
}

.MovieDetailPage .detail-sections > * {
  margin: 3px 0 4vmax 0;
}

.MovieDetailPage .section-label {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  margin-right: 10px;
}

.MovieDetailPage .detail-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.MovieDetailPage .detail-wrapper .detail-poster img {
  margin: 30px 4vw 20px 4vw;
  max-width: 30vmin;
  height: auto;
}

.MovieDetailPage .detail-wrapper .detail-title {
  flex-grow: 1;
  padding-top: 30px;
  padding-right: 4vw;
}

.MovieDetailPage .detail-wrapper .detail-title > div > * {
  margin-bottom: 8px;
}

#upper > h3 {
  margin-top: 30px;
}