.MovieDetailPage {
  min-height: 100vh;
  text-align: left;
}

.MovieDetailPage h1.fg {
  color: var(--reactgreen);
}

.MovieDetailPage .fg:not(hr.fg) {
  -webkit-animation: fadein 900ms ease-out;
  animation: fadein 900ms ease-out;
}

.MovieDetailPage .detail-sections {
  padding: 1vmin 4vw;
}

.MovieDetailPage .detail-sections > * {
  margin: 3px 0 4vmax 0;
}

.MovieDetailPage .detail-wrapper {
  padding-left: 4vw;
  padding-right: 4vw;
  display: grid;
  gap: 16px;
  grid-template-columns: 3fr 7fr;
}

.MovieDetailPage .detail-wrapper .detail-desc {
  grid-column: 1 / 3;
}

@media (min-width: 768px) {
  .MovieDetailPage .detail-wrapper {
    grid-template-columns: 1fr 3fr;
  }
  .MovieDetailPage .detail-wrapper .detail-desc {
    grid-column: initial;
  }
  .MovieDetailPage .detail-wrapper .detail-poster {
    grid-row: 1 / 3;
  }
}

.MovieDetailPage .detail-wrapper .detail-poster img {
  margin: 30px 2vw 20px 2vw;
  max-width: 30vmin;
  height: auto;
  border-radius: 2px;
}

.MovieDetailPage .detail-wrapper .detail-title {
  padding-top: 30px;
}

.MovieDetailPage .detail-wrapper .detail-title > div > * {
  margin-bottom: 8px;
}

.section-label {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  margin-right: 10px;
}
