.SearchPage {
  min-height: 100vh;
}

.SearchPage > .search-desc {
  padding: 5vmin 5vmin 1vmin 5vmin;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SearchPage > .search-desc > h4{
  text-align: left;
  margin-left: 20px;
  letter-spacing: 1px;
  flex-grow: 1;
  overflow: ellipsis;
}

.SearchPage > .search-desc > h4 > span{
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--reactgreen);
  white-space: nowrap;
  line-height: 1.5rem;
}

.SearchPage > .search-desc > button.clear-search{
  margin-top: 2px;
  margin-right: 20px;
  padding: 0 !important;
  width: 1.6rem;
  height: 1.6rem;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 200ms ease-out;;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  background-color: var(--reactred);
}

.SearchPage > .search-desc > button.clear-search:active{
  background-color: var(--entdarkgray);
  -webkit-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85);
}

.SearchPage > .search-desc > button.clear-search > img {
  width: 0.8rem;
  height: 0.8rem;
  display: block;
}

.SearchPage .KeywordsBlock {
  text-align: left;
  padding: 0 5vmin 10vmin 5vmin;
  margin-top: 30px;
}

@media only screen and (min-width: 380px) {
  .SearchPage > .search-desc > h4 {
    margin-left: 2px;
  }
  .SearchPage > .search-desc > button.clear-search {
    margin-right: 2px;
  }
}

@media only screen and (min-width: 600px) {
  .SearchPage > .search-desc > h4 {
    margin-left: 15px;
  }
  .SearchPage > .search-desc > button.clear-search {
    margin-right: 15px;
  }

}
