.App {
  text-align: center;
}

.App > section{
  width: 100%;
  overflow-x: hidden;
}

.App .center-loading {
  display: flex;
  justify-content: center;
}

.App .fullwidth{
  max-width: 100vmax;
}

.animate-popup {
  -webkit-animation: popup 200ms ease-out forwards;
  animation: popup 200ms ease-out forwards;
}

.animate-popup-1 {
  -webkit-animation: popup 300ms ease-out forwards;
  animation: popup 300ms ease-out forwards;
}

.animate-popup-2 {
  opacity: 0;
  -webkit-animation: popup 400ms 100ms ease-out forwards;
  animation: popup 400ms 100ms ease-out forwards;
}

.animate-popup-3 {
  opacity: 0;
  -webkit-animation: popup 500ms 300ms ease-out forwards;
  animation: popup 500ms 300ms ease-out forwards;
}

.animate-fadein {
  -webkit-animation: fadein 200ms ease-out;
  animation: fadein 200ms ease-out;
}

@keyframes popup {
  0%{
    opacity: 0;
    transform: translateY(15vh);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-enlarge, .CollectionPage .detail-wrapper .PriceTag, .MovieDetailPage .PriceTag {
  -webkit-animation: enlarge 800ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
            animation: enlarge 800ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes enlarge {
  0%{
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
        transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
        transform: scale(1);
  }
}

@keyframes fadein {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.App hr{
  max-width: 110vmin;
  color: var(--entdark) !important;
  border-color: var(--entdark);
  opacity: 0.4;
}

.App .no-data {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.App .no-data img {
  width: 30vmin;
  height: auto;
}

.App .no-data div {
  margin-top: 20px;
  font-size: 22px;
  font-weight: 600px;
  letter-spacing: 2px;
  word-spacing: 5px;
  cursor: default;
}