:root{
  --entwhite: #fafafa;
  --entblack: #555;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Source Sans Pro', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: url('./assets/background.jpg') no-repeat center 35% fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  color: rgb(251, 255, 8);
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  font-weight: 400;
  letter-spacing: 1px;
}

input, select, textarea, button{
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Source Sans Pro', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  
  color: var(--entblack);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ent-text-shadow{
  text-shadow: rgba(0, 30, 40, 0.15) 1px 4px 10px;
}
