.ActorLink {
    display: block;
    position: relative;
    padding: 1px 0;
}

.ActorLink a {
    color: var(--entlightgray);
    text-decoration: none;
    -webkit-tap-highlight-color: inherit;
    white-space: nowrap;
}

.ActorLink a:focus {
    outline: none !important;
}
