.Avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--reactgreen);
  margin: 5px;
}

.Avatar p.Avatar-text{
  color: #f5f5f5;
  text-align: center;
  display: inline-block;
  font-size: 22px;
  text-transform: uppercase;
}