.FoldedBox {
    display: block;
    position: relative;
    margin: 1.5vmax 5vmin 3vmax 5vmin;
    padding: 10px 2.3vmin;
    border: 1px solid var(--entdark);
    border-radius: 5px;
    transition: border-color 300ms ease-in;
}

.FoldedBox h3 {
    color: var(--reactgreen);
}

.FoldedBox button {
    background-color: transparent;
    border: none;
    outline: none !important;
    padding: 0 !important;
    margin: 0 !important;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.FoldedBox button > img {
    height: 1.3rem;
    width: 1.3rem;
    object-fit: contain;
    transition: transform 200ms ease-out;
}

.FoldedBox > .header-bar {
    display: flex;
    position: relative;
    text-align: left;
}

.FoldedBox > .header-bar > .total-results {
    flex-grow: 1;
    padding-left: 8px;
}

.FoldedBox > .header-bar > .total-results > span {
    margin-top: 3px;
    display: inline-block;
}

.FoldedBox > .detail-container {
    padding: 0.8vw 1vw;
    overflow: hidden;
    transition: height 200ms ease-out, padding-top 200ms ease-out, padding-bottom 200ms ease-out;
}

.FoldedBox > .detail-container .detail-container-wrapper {
    display: flex;
    overflow-x: auto;
}

.FoldedBox > .detail-container > .see-all > a {
    float: right;
    color: var(--reactgreen);
    text-decoration: none;
    margin-top: 10px;
    -webkit-tap-highlight-color: inherit;
}

.FoldedBox > .detail-container > .see-all > a:active {
    color: var(--reactgreen);
}

.FoldedBox > .detail-container > .see-all > a:visited {
    color: var(--reactgreen);
}

.rotate-180 {
    transform: rotate(180deg);
}