.SearchForm{
    width: 60%;
    height: auto;
    margin: auto;
    padding: 0;
    border-bottom: 3px solid var(--reactgreen);
    display: flex;
    align-items: stretch;
    overflow-x: hidden;
}

.SearchForm > form {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
    margin: 0;
    padding: 0;
}

.SearchForm input{
    /* width: calc(100% - 25px);
    height: 2rem; */
    margin: 0px;
    padding: 30px 25px;
    flex-grow: 1;
    border-radius: 0;
    color: var(--reactgreen);
}

.SearchForm #query::-webkit-input-placeholder {
    color: rgba(1, 141, 115, 0.5);
}

.SearchForm #query::-ms-input-placeholder {
    color: rgba(1, 141, 115, 0.5);
}

@media only screen and (min-width:320px){
    .SearchForm{
        width: 90%;
    }
}

@media only screen and (min-width:480px){
    .SearchForm{
        width: 80%;
    }
}

@media only screen and (min-width:600px){
    .SearchForm{
        width: 70%;
    }
}

@media only screen and (min-width:720px){
    .SearchForm{
        width: 60%;
    }
}